<div class="container">
  <h1>🚋 Tram Departures: Luma → Linde</h1>

  <app-tram-map></app-tram-map>
  <p *ngIf="tramsToLinde.length === 0" class="no-trams">
    No trams departing towards Linde at this time.
  </p>

  <table class="tram-table" *ngIf="tramsToLinde.length > 0">
    <thead>
      <tr>
        <th>Journey ID</th>
        <th>Destination</th>
        <th>Scheduled</th>
        <th>Expected</th>
        <th>Live Status</th>
        <th>Route Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tram of tramsToLinde; trackBy: trackByTram">
        <td>{{ tram.journey.id }}</td>
        <td>{{ tram.destination }}</td>
        <td>{{ tram.scheduled | date : 'shortTime' }}</td>
        <td>{{ tram.expected | date : 'shortTime' }}</td>
        <td>
          <app-countdown-timer [departureData]="tram"></app-countdown-timer>
        </td>
        <td>
          <button mat-flat-button (click)="openDialog(tram)">Tram Route</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
