.container {
  text-align: center;
  padding: 20px;
}

.no-trams {
  color: red;
  font-size: 18px;
}

.tram-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  tbody tr {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.tram-table th,
.tram-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tram-table th {
  background-color: #ff8c00;
  color: white;
}
