.custom-banner {
  background: transparent;
  border: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.custom-dialog {
  width: 900px !important;
  height: 900px;
  max-width: 900px !important;
  padding: 0 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 3px #ccc;
}

.mat-mdc-dialog-surface {
  border-radius: 0 !important;
  background-color: transparent !important;
  h2 {
    color: black !important;
    background-color: transparent !important;
  }
}

.banner-container {
  display: flex;
  align-items: end;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;

  &:hover .floating-text {
    display: block;
  }
}

.floating-text {
  position: absolute;
  top: -20px;
  background: rgba(255, 255, 255, 0.9);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.marker-icon {
  width: 100% !important;
  height: 40px;
}
